.page-title-action

html, body {
	background: white;
}
hr {
  border-bottom: 1px solid #cacaca !important;
  margin: 20px 0 !important;
  max-width: 100% !important;
}
a {
  background-color: transparent;
  color: #3b9675 !important;
  text-decoration: none;
  cursor: pointer;
}
a:active, a:hover {
	color: #F06B3F !important;
}
h1 {
  font-size: 1.8rem !important;
  border-bottom: 1px solid #d64e21;
  max-width: 500px;
  padding: 0 0 5px !important;
}
h1 .fa {
    color: rgba(59, 150, 117, 0.5);
}
h2 {
    font-size: 1.35rem !important;
}
h1, h2, h3 {
  /* color: #3b9675 !important; */
  font-weight: 200 !important;
  margin-bottom: 20px !important;
}
li.wp-not-current-submenu.wp-menu-separator {
    display: none;
}
ol ol, ol ul, ul ol, ul ul {
    margin-left: 0 !important;
    margin-bottom: 0;
}
.admin_data {
	border-style: solid;
	border-color: rgba(200,200,200,.001);
	border-width: 1px;
	transition: border-color .25s ease;
	position: relative;
	height: 40px;
	margin-bottom: 15px;
}
.admin_data.update {
	border-color: rgba(200,200,200,1);
}
.admin_row {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 9px;
  height: 40px;
  border-top: 1px solid #e0e0e0;
}
.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
    float: left;
}
.editor-object-container{
	display: none;
	opacity: 0;
}
.editor-object-container.visible-slide{
	display: block;
	opacity: 1;
	transition: opacity .3s ease;
}
.editor-object-container.fadeout {
	opacity:.001;
}
.heading{
	font-weight:bold;
}
.js-wpt-field{
	display: none;
}
.info_1
.scheduled_exams input,
.scheduled_exams select {
	width: 90%;
	height: 42px;
	display: block;
}
.delete.button, .button-primary, .scheduled_exams button, .page-title-action, .scheduled_exams .button, .js-wpt-file-upload, #addQuestion {
	height: 30px !important;
	display: inline-block !important;
	padding: 0px 8px !important;
	color: white !important;
	font-weight: bold !important;
	text-transform: capitalize;
	background: #d64e21 !important;
	transition: background .25s ease !important;
	text-shadow: none !important;
	border: none !important;
	min-width: 100px !important;
	margin: 10px;
}
.wp-core-ui
.scheduled_exams input, .scheduled_exams select {
    width: 13.5%;
    display: inline;
    height: 30px !important;
    float: left;
    margin-right: .5%;
    padding: 0px 10px;
    font-size: .8rem;
    border-radius: 3px;
}
#adminmenu li.current a.menu-top {
  font-weight: normal !important;
  background: white !important;
	color:#f15a2e !important;
	border-right:none;
}
#wpbody {
    position: relative;
    padding-top: 40px;
}
.show {
	display:block !important;
}
.scheduled_exams button:hover,
.scheduled_exams .button:hover {
	background: #4C9ED9;
	color:white;
}
.update-nag {
  display: none !important;
}
.updateColumn{ position:absolute;background:white;top:0;left:0; }
.updateColumn input {
	border: 0;
}
.wp-core-ui .button, .wp-core-ui .button-secondary {
	border-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	vertical-align: top;
}
/*.wp-core-ui .button-primary {
	background: #0085ba;
	border-color: #0073aa #006799 #006799;
	-webkit-box-shadow: 0 1px 0 #006799;
	box-shadow: none;
	color: #fff;
	text-decoration: none;
	text-shadow: none;
}*/

#misc-publishing-actions span {
	color: #3b9675;
}
 #adminmenu .wp-submenu {
    background-color: #e6e6e6 !important;
}
#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head, #adminmenu .wp-menu-arrow, #adminmenu .wp-menu-arrow div, #adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, .folded #adminmenu li.current.menu-top, .folded #adminmenu li.wp-has-current-submenu {
    background: white !important;
    color: #d54e21 !important;
    font-weight: normal;
}
#adminmenu .wp-submenu{
	padding: 0;
}
.wpt-file .textfield, .wpt-image .textfield, .wpt-audio .textfield, .wpt-video .textfield {
	width: 70%;
	display: inline;
	height: 30px;
	margin-right: 10px;
	font-size: .8rem;
	padding: 0 10px;
}
.wp-core-ui .button-primary, .wp-core-ui .toolset-message-after-activate .button-primary, #poststuff .wpcf-fields-add-new {
	/*background-color: #3b9675 !important;*/
	/*border-color: #3b9675;*/
	/*border: none !important;
	-webkit-box-shadow: none;*/
	box-shadow: none;
	text-shadow: none;
	/*font-weight: bold;
	color: #fff !important;*/
}
#comment-link-box, #edit-slug-box {
	line-height: 24px;
	color: #3B9675 !important;
}

#collapse-menu, #collapse-button div::after {
    color: #a0a5aa;
}
.wp-core-ui .button-primary.focus,.page-title-action:focus,.page-title-action:hover, .wp-core-ui .button-primary.hover, .wp-core-ui .button-primary:focus, .wp-core-ui .button-primary:hover {
	background: #F06B3F !important;
	/*border-color: #F06B3F !important;*/
	color: #fff !important;
	font-weight: bold;
	border: none !important;
}
.wp-core-ui .button-primary.focus, .wp-core-ui .button-primary:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.wp-core-ui .button-primary.active, .wp-core-ui .button-primary.active:focus, .wp-core-ui .button-primary.active:hover, .wp-core-ui .button-primary:active {
	/*background: #0073aa !important;
	border-color: #006799 !important;*/
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	vertical-align: top !important;
}
.wp-core-ui .button-secondary:active, .wp-core-ui .button.active, .wp-core-ui .button.active:hover, .wp-core-ui .button:active {
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}
.scheduled_exams .fa-times::before {
	color: #aaa;
}

.admin_data .fa-times:before {
  color: #f0a78f;
  transition: color .25s ease;
}
.admin_data .fa-times:hover:before {
	color:red;
}

.scheduled_exams .large-2 {
	width:19% !important;
	float:left !important;
}

.checkbox_column {
	width:40px !important;
}
#adminmenuback {
 	background-color: #e6e6e6 !important;
}
#adminmenu {
  clear: left;
  margin: 0;
  padding: 0;
  list-style: none;
  background: rgba(0,0,0,0.1) !important;
}
#ajaxSend:before {
	position: absolute;
	right: 20px;
	top: 4px;
	color: #7bbe42;
}
#ajaxCancel:before {
	position: absolute;
	right: 40px;
	top: 4px;
	color: red;
}
#adminmenuwrap {
  width: 160px;
  background-color: white !important;
  margin-top: 30px;
}
#adminmenu a {
  display: block;
  line-height: 18px;
  padding: 2px 5px;
  color: #3b9675 !important;
}
#adminmenu .wp-submenu li {
	background: #f8f8f8 !important;
}
#adminmenu .wp-submenu li a {
	color: #818080 !important;
	font-weight: normal !important;
}
#adminmenu .wp-submenu li a:hover{
	color:#d64e21 !important;
}
#adminmenu div.wp-menu-image::before {
  color: #3b9675 !important;
}
#adminmenu .current .wp-menu-image::before {
    color: #d64e21 !important;
}
#adminmenu .current div.wp-menu-image::before, #adminmenu .wp-has-current-submenu div.wp-menu-image::before, #adminmenu a.current:hover div.wp-menu-image::before, #adminmenu a.wp-has-current-submenu:hover div.wp-menu-image::before, #adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image::before, #adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image::before, #adminmenu li.wp-has-current-submenu:hover div.wp-menu-image::before {
    color: #d64e21 !important;
}
#adminmenu {
    background-color: rgba(0,0,0,.1) !important;
}
